.places {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 2fr);
  gap: 10px;
  width: 880px;
  height: 743px;
  margin-top: 40px;
}
.places__card {
  background-color: #fff;
  border-radius: 5px;
  width: 282px;
  height: 361px;
}
.places__image {
  width: 282px;
  height: 282px;
  border-radius: 5px 5px 0 0;
}
.places__title {
  font-size: 24px;
  font-weight: 900;
  color: black;
  width: 220px;
  height: 30px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.places__title-heart {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.places__button-heart {
  background-color: #fff;
  border: none;
  width: 30px;
  height: 19px;
}

.places__heart-button {
  width: 20px;
  height: 19px;
  margin-top: 25px;
  margin-right: 20px;
  cursor: pointer;
}
.places__heart-button:hover {
  opacity: 0.5;
}

@media screen and (min-width: 320px) and (max-width: 879px) {
  .places {
    display: flex;
    flex-direction: column;
    column-gap: 10px;
    margin: 40px 20px 0 20px;
    max-width: 320px;
  }
}
.profile__username {
  color: #fff;
  font-family: "Inter-Regular", sans-serif;
}
