.profile__info {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: auto;
  gap: 10px;
}

.profile__image {
  width: 120px;
  height: 120px;
}
.profile__image-user {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: aliceblue;
  border: 3px solid golden;
}
.profile__username {
  max-width: 415px;
  max-height: 77px;
  justify-self: flex-start;
}
.profile__complete-name {
  font-size: 42px;
  font-weight: 500;
  margin-bottom: 0;
}
.button__edit {
  height: 24px;
  width: 24px;
  border: none;
  background-color: black;
}
.button__edit-image {
  width: 24px;
  height: 24px;
  cursor: pointer;
}
.profile__occupation {
  font-size: 18px;
  font-weight: 400;
  margin-top: 0;
}
.add {
  align-self: center;
  width: 150px;
  height: 50px;
}
.add__button {
  width: 140px;
  height: 50px;
  border: none;
  background-color: black;
}
.add__button-image {
  width: 140px;
  height: 50px;
  cursor: pointer;
}
