.main__profile__info {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: auto;
  gap: 10px;
  position: relative;
}

.main__profile__image {
  width: 120px;
  height: 120px;
}
.main__profile__image-user {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: aliceblue;
  border: 3px solid golden;
}
.main__profile__username {
  max-width: 415px;
  max-height: 77px;
  justify-self: flex-start;
}
.main__profile__complete-name {
  font-size: 42px;
  font-weight: 500;
  margin-bottom: 0;
  color: white;
}
.main__button__edit {
  height: 24px;
  width: 24px;
  border: none;
  font-size: 0;
  background-color: black;
  padding: 0;
  position: relative;
  left: 300px;
  bottom: 35px;
}
.main__button__edit:hover {
  background-color: lightgray;
  font-size: 0;
}
.main__button__edit-image {
  width: 24px;
  height: 24px;
  cursor: pointer;
}
.main__profile__occupation {
  font-size: 18px;
  font-weight: 400;
  margin-top: 0;
  color: white;
}
.add {
  align-self: center;
  width: 150px;
  height: 50px;
}
.add__button {
  width: 140px;
  height: 50px;
  border: none;
  font-size: 0;
  padding: 0;
  background-color: black;
}
.add__button:hover {
  background-color: lightgrey;
  font-size: 0;
}
.add__button-image {
  width: 140px;
  height: 50px;
  cursor: pointer;
}
@media screen and (min-width: 320px) and (max-width: 879px) {
  .main__profile__info {
    max-width: 320px;
    display: flex;
    row-gap: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .add {
    max-width: 282px;
    margin-top: 50px;
    margin-right: 140px;
  }
  .add__button {
    width: 282px;
    height: 50px;
    border: none;
    background-color: black;
  }
  .add__button-image {
    width: 282px;
    height: 50px;
  }
  .main__button__edit {
    height: 24px;
    width: 24px;
  }
  .main__button__edit-image {
    width: 24px;
    height: 24px;
    cursor: pointer;
  }
  .main__profile__occupation {
    text-align: center;
  }
}
